@charset "utf-8";
/* CSS Document */


#wrapper{margin: 0 auto; width: 900px;}
#container{background:#CCC; width:650px; float:left;}
#side{width:230px; float:left; background:#FFF;}
#nav{width:900px; background:#999;}
#nav li{float:left;}
.clear{clear:both;}