 /*
    Primary Styles
    Author: danferth
 */
*{box-sizing:border-box}
html, body{height:100%; width:100%;}

body{
    background: url('http://subtlepatterns.com/patterns/pw_maze_white.png');
    box-shadow:inset 0 0 4px 1px rgba(255,255,255,.5);
    font-size:12px;
}
#container{
    width:79.167em;
    margin: 0 auto;
}
header{
    width: 100%;
    height:8.333em;
    margin:0 0 0 0;
    background:CCCCCC;
    background: rgb(204,204,204);
}
nav{
    margin:0.833em 0 0 0;
    background:#666666;
    background:rgb(102,102,102);
}
#main{
    width:60%;
    float:left;
    margin:0.833em 0.833em 0 0;
    background: #FFF;
    background: rgb(255,255,255);
}
aside{
    width:40%;
    float:right;
    margin:0.833em 0 0 0;
    background: #999999;
    background:rgb(153,153,153);
    overflow:hidden;
}
footer{
    height:4.167em;
    text-align:center;
    margin:0.833em 0 0 0;
    background: #666666;
    background:rgb(102,102,102);
    color:#fff;
}





/*---------------------------------------------------------------------------------------------*/




/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

